

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb  {
    border-radius: 15px;
    background: #f8d509;
}

body{
    background: #f1f1f1 !important;
}
#foto{
    width: 180px;display: table; height: 180px; margin: 0 auto;border-radius: 50%;box-shadow: 0 0 2px #fff;
    margin-top: 20px;
}
#usuario{
    margin: 0 auto;margin-top: 40px;
    display: table;
}
.nome{
    text-align: center;margin-top: 20px;font-size: 14px;font-weight: bolder;
}
.dados{
    text-align: center;margin-top: -10px;font-size: 14px;font-weight: bolder;
}
#editar{
    width: 80%;margin-top: -5px; background-color: #292929;border-color: #000;
}

@media screen and (max-width: 1199px){

    #foto{
        width: 130px; height: 130px; margin: 0 auto;border-radius: 50%;box-shadow: 0 0 2px #000;
    }

    #usuario{
        margin-top: 50px; height: 340px;
    }
}
.inp_classe{
    width: 100%;
    margin: 0 auto;
    margin-top: 3px !important;
    padding-left: 10px;
    background: transparent;
    color: #000;
    border: none;
    border-bottom: 1px solid #ccc;
}
.inp_classe:focus{
    border: none;
    border-bottom: 1px solid #000;
    box-shadow: none;
}
textarea:focus, input:focus, select:focus {
    border-bottom: 1px solid #000;
    outline: 1px;
    color: #000;
}
.botao_alt {
    opacity: .80;
    background: #292929;
    border: 2px solid #292929;
    margin-top: 10px;
    padding: 8px 45px;
    color: #f8d509;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.botao_alt:hover {
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao_alt span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao_alt:before, .botao_alt:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao_alt:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #000;
    color: #000;
    border: 1px solid #000;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao_alt:after {
    background-color: #000;
    color: #000;
    border: 1px solid #000;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao_alt:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao_alt:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}




.botao_atv {
    opacity: .80;
    background: #f8d509;
    border: 2px solid #f8d509;
    margin-top: 10px;
    padding: 8px 45px;
    color: #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.botao_atv:hover {
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao_atv span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao_atv:before, .botao_atv:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao_atv:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #EAC009;
    color: #EAC009;
    border: 1px solid #EAC009;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao_atv:after {
    background-color: #EAC009;
    color: #EAC009;
    border: 1px solid #EAC009;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao_atv:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao_atv:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}



.botao_datv {
    opacity: .80;
    background: #ccc;
    border: 2px solid #ccc;
    margin-top: 10px;
    padding: 8px 45px;
    color: #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.botao_datv:hover {
    color: #fff;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao_datv span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao_datv:before, .botao_datv:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao_datv:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #666;
    color: #000;
    border: 1px solid #666;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao_datv:after {
    background-color: #666;
    color: #000;
    border: 1px solid #666;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao_datv:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao_datv:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}







.voltar{
    text-align: center;border-radius: 50%;background: #f8d509;width: 80px;height: 80px;border: 10px solid #fff;box-shadow: 3px 0 8px #ccc;
    color: #fff;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.voltar_pessoal{
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 10px solid #fff;
    color: #fff;
    box-shadow: none;
    margin-top: -50px;
    position: absolute;
    margin-left: 73%;
    background: #666;
    z-index: 99;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.voltar:hover{
    background: #666;border: 10px solid #fff;
    box-shadow: 3px 0 8px #ccc;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.docs{
    width: 100%;
}
#carro{
    display: none;
}

