body{
    margin-top: 80px !important;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
.lado_direito{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: fadeInRight;
}
.lado_esquerdo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInLeft;
}
.lado_topo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}
.lado_baixo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInUp;
}
.fade_1{
    visibility: visible;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name: fadeIn;
}



.botao {
    border-radius: 4px;
    opacity: 1;
    background: #f8d509;
    border: 2px solid #f8d509;
    margin-top: 20px;
    padding: 12px 45px;
    color: #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.botao:hover {
    color: #000;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao:before, .botao:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #FCCD08;
    color: #fff;
    border: 1px solid #FCCD08;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao:after {
    background-color: #FCCD08;
    color: #fff;
    border: 1px solid #FCCD08;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
















input[type='search']{
    padding: 2px 10px;
    border-radius: 0px;
    background: 0;
    border: none;
    border-bottom: 1px solid #292929;
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: fadeInDown;
    margin-bottom: 10px;

}

textarea:focus, input:focus, select:focus {
    border-bottom: 1px solid transparent;
    outline: 1px;
    color: #000;
}
select{
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}
.current{
    color: #000 !important;
    border: 0 !important;
    background: #f8d509 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #000 !important;
}
table{
    visibility: visible;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name: fadeIn;
}
table.dataTable.no-footer{
    box-shadow:  2px 2px 8px #ccc;
    border-bottom: 0px solid transparent;
    margin-bottom: 10px;
}



::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb  {
    border-radius: 15px;
    background: #f8d509;
}


#box{
    display: none;
    width: 600px;
    height: 400px;
    background: transparent;
    box-shadow: none;
    position: absolute;
    margin-top: 10%;
    z-index: 99;
    border-color: #f8d509;
    left: 50%;
    margin-left: -300px;
}



#svg_linha{
    width: 100%;
}
@media screen and (max-width: 768px) and (min-width: 500px){
    #svg_linha{
        width: 60%;
        margin: 0 auto;
        margin-left: 20%;
        margin-top: -20px;

    }
}
@media screen and (max-width: 500px){
    #svg_linha{
        width: 60%;
        margin: 0 auto;
        margin-left: 20%;
        margin-top: -90px;

    }
}
svg path, svg rect {
    fill: transparent !important;
}
.logo {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;

    animation:
            logoStroke 1.75s linear forwards,
            logoStrokeFill 0.75s cubic-bezier(0.445, 0.050, 0.550, 0.950) 1.80s forwards;
}

@keyframes logoStroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logoStrokeFill {
    to {
        stroke:  #000;
        fill: rgba(0, 0, 0, 0.2);
    }
}


.form_modal{
    width: 100%;
    margin:  0 auto;
    padding: 8px 10px;
    background: #292929;
    color: #fff;
    margin-top: 5px;
    border: 1px solid #292929;
    border-radius: 8px  ;
}
.form_modal:focus{
    color: #fff;
    border: 1px solid #f8d509;
}