*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



body{
    /*background: #ccc;*/
    /*background: url('/git/yougo/style/img/login.jpg')center center no-repeat;background-size: cover;*/
    background: url('https://cdn.dribbble.com/users/413563/screenshots/2422744/midnight-fishing.jpg')center center no-repeat;background-size: cover;

}

@media (max-width: 768px) {
    html, body {
        font-size: 100%;
    }
}

.svg-classe {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
}

.svg-icon {
    cursor: pointer;
}
.svg-icon path {
    stroke: rgba(255, 255, 255, 0.9);
    fill: none;
    stroke-width: 1;
}

input, button {
    outline: none;
    border: none;
}

.cont {
    position: relative;
    height: 100%;
    background: transparent;
    background-size: cover;
    overflow: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.demo {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -15rem;
    width: 30rem;
    /*width: 30rem;*/
    /*height: 90%;*/
    height: 854px;
    /*height: 53rem;*/
    overflow-x: hidden;
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .demo {
        position: absolute;
        top: 0;
        left: 0;
        margin-left:0;
        margin-top: 0;
        width: 100%;
        /*height: 100%;*/
        height: 100%;
        display: table;
    }
}
@media screen and (max-width: 500px) {

    .demo {
        position: absolute;
        top: 0;
        left: 0;
        margin-left:0;
        margin-top: 0;
        width: 100%;
        /*height: 100%;*/
        height: 600px;
        display: table;
    }
}






.login {
    position: relative;
    /*height: 100%;*/
    height: 854px;
    background: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0.6) 100%);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    -webkit-transform: scale(1);
    transform: scale(1);
    overflow-x: hidden;
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .login {
        margin-top: 30px;
        height: 800px;
        overflow-y: hidden;
    }
}
@media screen and (max-width: 500px) {
    .login {
        height: 600px;
        overflow-y: hidden;
    }
}
.login.inactive {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.login__check {
    position: absolute;
    top: 16rem;
    left: 13.5rem;
    width: 14rem;
    height: 2.8rem;
    background: #fff;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.login__check:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 2.8rem;
    height: 5.2rem;
    background: #fff;
    -webkit-box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
}
.login__form {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 1.5rem 2.5rem;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .login__form {
        position: absolute;
        top: 43%;
        left: 0;
        width: 100%;
        height: 50%;
        padding: 1.5rem 2.5rem;
        text-align: center;
    }

}

.login__row {
    height: 5rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.login__icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
}
.login__icon.name path {
    stroke-dasharray: 73.50196075439453;
    stroke-dashoffset: 73.50196075439453;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}
.login__icon.pass path {
    stroke-dasharray: 92.10662841796875;
    stroke-dashoffset: 92.10662841796875;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}
.login__input {
    display: inline-block;
    width: 22rem;
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    color: #FDFCFD;
}
.login__submit {
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 5rem 0 2.2rem;
    color: rgba(255, 255, 255, 0.8);
    background: #f8d509;
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}


@media screen and (max-width: 768px) {


    .login__submit {
        position: relative;
        width: 100%;
        height: 3rem;
        margin: 5rem 0 2.2rem;
        color: rgba(255, 255, 255, 0.8);
        background: #f8d509;
        font-size: 1.5rem;
        border-radius: 3rem;
        margin-top: 20px;
        cursor: pointer;
        margin-bottom: 10px;
        -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
        transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    }
}


.login__submit:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border: 2px dotted #fff;
    border-radius: 50%;
    border-left: none;
    border-bottom: none;
    -webkit-transition: opacity 0.1s 0.4s;
    transition: opacity 0.1s 0.4s;
    opacity: 0;
}
.login__submit.processing {
    width: 4rem;
    font-size: 0;
}
.login__submit.processing:after {
    opacity: 1;
    -webkit-animation: rotate 0.5s 0.4s infinite linear;
    animation: rotate 0.5s 0.4s infinite linear;
}
.login__submit.success {
    -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
    transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
    transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
    transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
    -webkit-transform: scale(30);
    transform: scale(30);
    opacity: 0.9;
}
.login__submit.success:after {
    -webkit-transition: opacity 0.1s 0s;
    transition: opacity 0.1s 0s;
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}
.login__signup {
    font-size: 1.2rem;
    color: #ABA8AE;
}
.login__signup a {
    color: #fff;
    cursor: pointer;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25), -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    overflow-x: hidden;
}
.app.active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.app.active .app__user-photo {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.app.active .app__meeting {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.app.active .app__logout {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.app__top {
    position: relative;
    /*height: 100%;*/
    height: 854px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 1.5rem 2rem;
    text-align: center;
}
.app__logout {
    position: absolute;
    bottom: 280px;
    right: 90%;
    width: 3.6rem;
    height: 3.6rem;
    margin-right: -2.3rem;
    margin-bottom: 100%;
    background: #f8d509;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    -webkit-transform: scale(0);
    transform: scale(0);
}


.app__logout:hover {
    box-shadow: 0 0 4px #ccc;
}




@media screen and (max-width: 768px){
    .app__logout {
        margin-bottom: 480px;
    }
}

.app__logout.clicked {
    bottom: -10%;
    right: 50%;
    -webkit-transform: scale(30) !important;
    transform: scale(30) !important;
    opacity: 0.9;
    box-shadow: none;

}
.app__logout.clicked svg {
    opacity: 0;
}
.app__logout-icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    margin-left: -1.1rem;
    margin-top: -1.0rem;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.app__logout-icon path {
    stroke-width: 2px;
    -webkit-animation: animatePath 0.5s 0.5s forwards;
    animation: animatePath 0.5s 0.5s forwards;
}

.ripple {
    position: absolute;
    width: 15rem;
    height: 15rem;
    margin-left: -7.5rem;
    margin-top: -7.5rem;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: animRipple 0.4s;
    animation: animRipple 0.4s;
    border-radius: 50%;
}

@-webkit-keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}

@keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}








#svg_linha{
    width: 100%;
}
@media screen and (max-width: 768px) and (min-width: 500px){
    #svg_linha{
        width: 60%;
        margin: 0 auto;
        margin-left: 20%;
        margin-top: -20px;

    }
}
@media screen and (max-width: 500px){
    #svg_linha{
        width: 60%;
        margin: 0 auto;
        margin-left: 20%;
        margin-top: -90px;

    }
}
svg path, svg rect {
    fill: transparent !important;
}
.logo {
    stroke-dasharray: 560;
    stroke-dashoffset: 560;

    animation:
            logoStroke 2.75s linear forwards,
            logoStrokeFill 0.75s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2s forwards;
}

@keyframes logoStroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logoStrokeFill {
    to {
        stroke:  transparent;
        fill:  #000;
    }
}
.logo2 {
    stroke-dasharray: 560;
    stroke-dashoffset: 560;
    animation:
            logo2Stroke 2.75s linear forwards,
            logo2StrokeFill 0.75s cubic-bezier(0.445, 0.050, 0.550, 0.950) 2s forwards;
}

@keyframes logo2Stroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logo2StrokeFill {
    to {
        stroke:  transparent;
        fill:  #000;
    }
}




/*placeholder*/

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}



/*botao enviar*/


.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 5%;
    transform: translateY(-50%);
    width: 280px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #f8d509;
}

.text {
    color: #fff;
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 32px;
    position: relative;
    top: -48px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        transition-delay: .3s;
        fill: #f8d509;
        stroke-width: 8px;
        stroke: #f8d509;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}



/*Jean estilo*/


.inp_form_cadastro{
    width: 100%;padding: 10px;border-radius: 0px;background: transparent;border-bottom: 1px solid #fff;color: #f8d509;margin-top: 20px;
}



@media screen and (max-width: 500px){
    .icones_login{
     width: 20px;
    }
    .login__input{
        width: 80%;
        font-size: 15px;
    }
    .login__row{
        height: 60px;
    }
}




/*focus input e scroll*/

textarea:focus, input:focus, select:focus {
    border-bottom: 1px solid #f8d509;
    outline: 1px;
    color: #f8d509;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb  {
    border-radius: 15px;
    background: #f8d509;
}

.botao_anexo{
    width: 100%;
    background: #f8d509;
    border-radius: 15px;
    margin-top: 5px;
    padding: 12px 0;
    color: #fff;
}

.login__submit:hover{
    background: #292929;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;


}
.botao_anexo:hover{
    background: transparent;
    border: 2px solid #f8d509;
    color: #f8d509;
    padding: 10px 0;
    cursor: pointer;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.cadastro_imagens{
    padding: 15px;
}


#pessoal_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#pessoal_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}


#cnh_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#cnh_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}


#rg_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#rg_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}

#antecedentes_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#antecedentes_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}


#seguro_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#seguro_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}



#carro_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#carro_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}




#carro_icon_img2{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#carro_icon_img2:hover{
    color: #ed9e14;
    cursor: pointer;
}



#carro_icon_img3{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#carro_icon_img3:hover{
    color: #ed9e14;
    cursor: pointer;
}





#documento_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#documento_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}


#comprovante_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#comprovante_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}





.btn_cadastro {
    width: 100%;
    background: #f8d509;
    border-radius: 15px;
    margin-top: 5px;
    padding: 12px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn_cadastro span {
    position: relative;
    z-index: 100;
}
.btn_cadastro:before, .btn:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.btn_cadastro:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(0, 100%, 0);
    background-color: #292929;
    border: 1px solid #292929;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.btn_cadastro:after {
    background-color: #292929;
    border: 1px solid #292929;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.btn_cadastro:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.btn_cadastro:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*imagens que aparecem do lado do input file*/
.img_lado_file{
    max-width: 100%;
    height: 40px;
    margin-top: -5px;
    position: absolute;
    margin-left: 5px;
}