
.fade_1{
    visibility: visible;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name: fadeIn;
}


.lado_baixo1{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
}

.lado_baixo2{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-name: fadeInUp;
}

.lado_baixo3{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-name: fadeInUp;
}


.lado_baixo4{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-name: fadeInUp;
}

#foto{
    width: 180px;display: table; height: 180px; margin: 0 auto;border-radius: 50%;box-shadow: 0 0 2px #000;
    margin-top: 20px;
}
#usuario{
    height: 380px;background: #fff;border-radius: 8px;box-shadow: 0 0 2px #ccc;margin-top: 20px;
}
.nome{
    text-align: center;margin-top: 20px;font-size: 14px;font-weight: bolder;
}
.dados{
    text-align: center;margin-top: -10px;font-size: 14px;font-weight: bolder;
}
#editar{
    width: 80%;margin-top: -5px; background-color: #292929;border-color: #000;
}

@media screen and (max-width: 1199px){

    #foto{
        width: 130px; height: 130px; margin: 0 auto;border-radius: 50%;box-shadow: 0 0 2px #000;
    }

    #usuario{
        margin-top: 50px; height: 340px;
    }
}




.botao {
    border-radius: 4px;
    opacity: 1;
    background: #f8d509;
    border: 2px solid #f8d509;
    margin-top: -20px;
    padding: 12px 45px;
    color: #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.botao:hover {
    color: #000;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao:before, .botao:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #FCCD08;
    color: #fff;
    border: 1px solid #FCCD08;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao:after {
    background-color: #FCCD08;
    color: #fff;
    border: 1px solid #FCCD08;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}





.select2-container--default .select2-selection--single{
    background: transparent !important;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}
input[type='search'] {
    padding: 2px 10px;
    border-radius: 0px;
    background: 0;
    border: none;
    color: #fff;
    border-bottom: 1px solid #292929;
    visibility: visible;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-name: fadeInUp;
    margin-bottom: 10px;
}
.select2-dropdown {
    background-color: #292929;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f8d509;
    color: #000;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #171515;
    color: #f8d509 ;
}




.form-control{
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}
.input-group-addon{
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}

.form-control:focus{
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    visibility: visible;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-name: fadeInUp;
}

.fa-search:hover{
    color: #f8d509;
    cursor: pointer;
}

