body{
    margin-top: 80px !important;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
input, button {
    outline: none;
    border: none;
}
.app {
    left: 0;
    margin: 0 auto;
    margin-top: 20px;
    overflow-x: hidden;
    border-radius: 5px;
}
.app__top {
    position: relative;
    /*height: 100%;*/
    border-radius: 5px;
    width: 100%;
    overflow-x: hidden;
    padding: 1rem 1.5rem 2rem;
    text-align: center;
}
.app__logout {
    position: absolute;
    bottom: 280px;
    right: 90%;
    width: 3.6rem;
    height: 3.6rem;
    margin-right: -2.3rem;
    margin-bottom: 100%;
    background: #f8d509;
    color: #000;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    -webkit-transform: scale(0);
    transform: scale(0);
}


.app__logout:hover {
    box-shadow: 0 0 4px #ccc;
}




@media screen and (max-width: 768px){
    .app__logout {
        margin-bottom: 480px;
    }
}

.app__logout.clicked {
    bottom: -10%;
    right: 50%;
    -webkit-transform: scale(30) !important;
    transform: scale(30) !important;
    opacity: 0.9;
    box-shadow: none;

}
.app__logout.clicked svg {
    opacity: 0;
}
.app__logout-icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    margin-left: -1.1rem;
    margin-top: -1.0rem;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.app__logout-icon path {
    stroke-width: 2px;
    -webkit-animation: animatePath 0.5s 0.5s forwards;
    animation: animatePath 0.5s 0.5s forwards;
}

.ripple {
    position: absolute;
    width: 15rem;
    height: 15rem;
    margin-left: -7.5rem;
    margin-top: -7.5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: animRipple 0.4s;
    animation: animRipple 0.4s;
    border-radius: 50%;
}

@-webkit-keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}

@keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}






.inp_form_cadastro{
    width: 100%;padding: 10px;border-radius: 0px;background: transparent;border-bottom: 1px solid #000;color: #000;margin-top: 20px;
}



@media screen and (max-width: 500px){
    .icones_login{
        width: 20px;
    }
    .login__input{
        width: 80%;
        font-size: 15px;
    }
    .login__row{
        height: 60px;
    }
}




/*focus input e scroll*/

textarea:focus, input:focus, select:focus {
    border-bottom: 1px solid #f8d509;
    outline: 1px;
    color: #000;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb  {
    border-radius: 15px;
    background: #f8d509;
}

.botao_anexo{
    width: 100%;
    background: #f8d509;
    border-radius: 15px;
    margin-top: 5px;
    padding: 12px 0;
    color: #000;
}

.login__submit:hover{
    background: #292929;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;


}
.botao_anexo:hover{
    background: transparent;
    border: 2px solid #f8d509;
    color: #f8d509;
    padding: 10px 0;
    cursor: pointer;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.cadastro_imagens{
    padding: 15px;
}


#pessoal_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#pessoal_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}


#cnh_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#cnh_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}


#seguro_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#seguro_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}



#carro_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#carro_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}




#carro_icon_img2{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#carro_icon_img2:hover{
    color: #ed9e14;
    cursor: pointer;
}



#carro_icon_img3{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#carro_icon_img3:hover{
    color: #ed9e14;
    cursor: pointer;
}





#documento_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#documento_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}


#comprovante_icon{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8d509;
    cursor: pointer;
}
#comprovante_icon:hover{
    color: #ed9e14;
    cursor: pointer;
}





.btn_cadastro {
    width: 100%;
    background: #f8d509;
    border-radius: 15px;
    margin-top: 5px;
    padding: 12px 0;
    color: #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn_cadastro span {
    position: relative;
    z-index: 100;
}
.btn_cadastro:before, .btn:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.btn_cadastro:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(0, 100%, 0);
    background-color: #292929;
    border: 1px solid #292929;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.btn_cadastro:after {
    background-color: #292929;
    border: 1px solid #292929;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.btn_cadastro:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.btn_cadastro:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*imagens que aparecem do lado do input file*/
.img_lado_file{
    max-width: 100%;
    height: 40px;
    margin-top: -5px;
    position: absolute;
    margin-left: 5px;
}


.botao {
    border-radius: 4px;
    opacity: 1;
    background: #f8d509;
    border: 2px solid #f8d509;
    margin-top: 20px;
    padding: 12px 45px;
    color: #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.botao:hover {
    color: #000;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao:before, .botao:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #FCCD08;
    color: #fff;
    border: 1px solid #FCCD08;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao:after {
    background-color: #FCCD08;
    color: #fff;
    border: 1px solid #FCCD08;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}
::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}









.lado_direito{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: fadeInRight;
}
.lado_esquerdo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInLeft;
}
.lado_topo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}
.lado_baixo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInUp;
}

.lado_baixo2{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: fadeInUp;
}

.fade_1{
    visibility: visible;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name: fadeIn;
}


