
.botao_preto {
    border-radius: 4px;
    opacity: 1;
    background: #292929;
    border: 2px solid #292929;
    margin-top: 20px;
    padding: 12px 60px;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.botao_preto:hover {
    opacity: 1;;
    border-color: #000;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao_preto span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao_preto:before, .botao:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao_preto:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao_preto:after {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao_preto:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao_preto:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}







.switch__container {
    width: 50%;
    float: right;
}
.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow + label {
    padding: 2px;
    width: 50px;
    height: 18px;
    border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
.switch--shadow + label:before {
    right: 1px;
    background-color: #ccc;
    border-radius: 60px;
    transition: all 0.4s;
}
.switch--shadow + label:after {
    width: 15px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
.switch--shadow:checked + label:before {
    background-color: #f8d509;
}
.switch--shadow:checked + label:after {
    transform: translateX(33px);
}

/*switch 2*/
.switch__container_2 {
    width: 50%;
    float: right;
}
.switch_2 {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch_2 + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow_2 + label {
    padding: 2px;
    width: 50px;
    height: 18px;
    border-radius: 60px;
}
.switch--shadow_2 + label:before,
.switch--shadow_2 + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
.switch--shadow_2 + label:before {
    right: 1px;
    background-color: #ccc;
    border-radius: 60px;
    transition: all 0.4s;
}
.switch--shadow_2 + label:after {
    width: 15px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
.switch--shadow_2:checked + label:before {
    background-color: #f8d509;
}
.switch--shadow_2:checked + label:after {
    transform: translateX(33px);
}






.botao_alt {
    opacity: .80;
    background: transparent;
    border: 2px solid #f8d509;
    margin-top: 20px;
    padding: 8px 45px;
    color: #f8d509;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.botao_alt:hover {
    color: #000;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao_alt span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao_alt:before, .botao_alt:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao_alt:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #f8d509;
    color: #000;
    border: 1px solid #f8d509;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao_alt:after {
    background-color: #f8d509;
    color: #000;
    border: 1px solid #f8d509;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao_alt:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao_alt:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}






