body{
    margin-top: 80px !important;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
#cke_termos{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: fadeIn;
}
.lado_direito{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: fadeInRight;
}
.lado_esquerdo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInLeft;
}
.lado_topo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInDown;
}
.lado_baixo{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInUp;
}
.fade_1{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeIn;
}



.botao {
    opacity: .80;
    background: transparent;
    border: 2px solid #f8d509;
    margin-top: 20px;
    padding: 12px 45px;
    color: #f8d509;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.botao:hover {
    color: #000;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
.botao span {
    position: relative;
    z-index: 100;
    font-size: 16px;
}
.botao:before, .botao:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.botao:before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0 , 0);
    background-color: #f8d509;
    color: #000;
    border: 1px solid #f8d509;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.botao:after {
    background-color: #f8d509;
    color: #000;
    border: 1px solid #f8d509;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.botao:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.botao:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


